{
  "openapi": "3.0.3",
  "info": {
    "title": "Developer API",
    "summary": "This API provides ways to manage the Leaseweb infrastructure.",
    "description": "The Leaseweb API offers comprehensive tools to effectively manage and interact with the Leaseweb infrastructure. It enables users to automate infrastructure-related tasks, such as provisioning, monitoring, and scaling resources. With its robust functionality, this API simplifies infrastructure management, enhances operational efficiency, and supports seamless integration into your existing workflows.",
    "termsOfService": "https://www.leaseweb.com/nl/about-us/legal",
    "contact": {
      "name": "Customer Care",
      "url": "https://kb.leaseweb.com/kb/support/support-contacting-customer-care/",
      "email": "customercare@leaseweb.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "servers": [
    {
      "url": "https://api.leaseweb.com"
    }
  ],
  "security": [
    {
      "X-LSW-Auth": []
    }
  ],
  "tags": [
    {
      "name": "Error",
      "description": "The API uses standard HTTP status codes to indicate the success or failure of the API call. The response will be JSON. Most APIs use the following format:\n```json\n{\n    \"errorCode\": \"APP00800\",\n    \"errorMessage\": \"The connection with the DB cannot be established.\",\n    \"correlationId\": \"550e8400-e29b-41d4-a716-446655440000\",\n    \"userMessage\": \"Cannot handle your request at the moment. Please try again later.\",\n    \"reference\": \"https://developer.leaseweb.com/errors/APP00800\"\n}\n```"
    },
    {
      "name": "Authentication",
      "description": "Authentication for the APIs is required. To authenticate your call, you will need to sent your API key as `X-LSW-Auth` header.\nYou can generate API keys in the [Customer Portal](https://secure.leaseweb.com/api-client-management/)."
    },
    {
      "name": "Public Clouds",
      "x-displayName": "Public Clouds",
      "description": "<h4><span class=\"badge badge-warning\">BETA</span></h4> Leaseweb Public Cloud is a cloud computing service that provides virtualized infrastructure, allowing businesses and developers to deploy and manage cloud-based resources efficiently. It is designed to offer scalability, flexibility, and high performance at a competitive price."
    },
    {
      "name": "VPS",
      "x-displayName": "VPS",
      "description": "<h4><span class=\"badge badge-warning\">BETA</span></h4> Leaseweb VPS (Virtual Private Server) is a hosting solution that provides dedicated virtualized resources within a physical server. It offers a balance between shared hosting and dedicated servers, making it a cost-effective option for businesses, developers, and enterprises that need more control, scalability, and performance."
    },
    {
      "name": "Virtual Servers",
      "x-displayName": "GP VPS",
      "description": "Leaseweb GP VPS is a hosting solution that provides dedicated virtualized resources."
    },
    {
      "name": "Private Clouds",
      "x-displayName": "Private Clouds",
      "description": "Leaseweb Private Cloud is a dedicated cloud solution that provides a secure, high-performance, and customizable cloud environment for businesses. Unlike public cloud services, a private cloud ensures that all resources are dedicated to a single organization, enhancing security, performance, and compliance."
    },
    {
      "name": "Storage",
      "x-displayName": "Storage",
      "description": "<h4><span class=\"badge badge-warning\">BETA</span> <span class=\"badge badge-danger\">LIMITED ACCESS</span></h4> Leaseweb Storage is a storage solution that provides scalable and reliable storage for businesses. It offers a range of storage options, including block storage, object storage, and file storage, to meet different storage needs and requirements."
    },
    {
      "name": "Dedicated Servers",
      "x-displayName": "Dedicated Servers",
      "description": "Leaseweb Dedicated Servers are physical servers that are dedicated to a single customer, providing high performance, scalability, and security. They are ideal for businesses that require a dedicated environment for their critical applications."
    },
    {
      "name": "Dedicated Network Equipments",
      "x-displayName": "Dedicated Network Equipments",
      "description": "Leaseweb Dedicated Network Equipments are network devices that are dedicated to a single customer, providing high performance, scalability, and security. They are ideal for businesses that require a dedicated environment for their critical applications."
    },
    {
      "name": "Dedicated Racks",
      "x-displayName": "Dedicated Racks",
      "description": "Leaseweb Dedicated Racks are physical racks that are dedicated to a single customer, providing high performance, scalability, and security. They are ideal for businesses that require a dedicated environment for their critical applications."
    },
    {
      "name": "Colocations",
      "x-displayName": "Colocations",
      "description": "Leaseweb colocation provides you with a dependable hosting environment for your essential, mission-critical servers, storage, and Internet infrastructure. Colocation allows you to locate servers, network equipment, and storage in Leaseweb’s state-of-the-art data centers. You can connect your privately-owned servers to a variety of telecommunications and network service providers easily, and at reduced operational expenses."
    },
    {
      "name": "Datacenter Access",
      "x-displayName": "Datacenter Access",
      "description": "The Leaseweb Access Management APIs allow co-location customers to manage access cards and request on-site data center access, ensuring secure and flexible control over physical entry."
    },
    {
      "name": "IP management",
      "x-displayName": "IP management",
      "description": "Leaseweb IP management is a service that allows businesses to manage their IP addresses efficiently. It offers a range of IP management options, including IP address allocation, IP address management, and IP address monitoring, to meet different IP management needs and requirements."
    },
    {
      "name": "Floating IPs",
      "x-displayName": "Floating IPs",
      "description": "Leaseweb Floating IPs are IP addresses that are dedicated to a single customer, providing high performance, scalability, and security. They are ideal for businesses that require a dedicated environment for their critical applications."
    },
    {
      "name": "Private Networks",
      "x-displayName": "Private Networks",
      "description": "Leaseweb Private Networks is a service that allows customers to connect multiple servers and cloud instances within a secure, isolated, and high-speed private network. This eliminates the need to use public internet connections for internal communications, improving security, reducing latency, and enhancing data transfer efficiency."
    },
    {
      "name": "Remote Management",
      "x-displayName": "Remote Management",
      "description": "Leaseweb Remote Management is a service that allows businesses to manage their servers remotely. It offers a range of remote management options, including remote management, remote monitoring, and remote management, to meet different remote management needs and requirements."
    },
    {
      "name": "Aggregation packs",
      "x-displayName": "Aggregation Packs",
      "description": "Leaseweb Aggregation Packs are a service that allows businesses to manage their servers remotely. It offers a range of aggregation packs options, including aggregation packs, aggregation packs monitoring, and aggregation packs management, to meet different aggregation packs needs and requirements."
    },
    {
      "name": "CDN",
      "x-displayName": "CDN",
      "description": "Leaseweb CDN is a service that allows businesses to manage their servers remotely. It offers a range of CDN options, including CDN, CDN monitoring, and CDN management, to meet different CDN needs and requirements."
    },
    {
      "name": "Domains",
      "x-displayName": "Domains",
      "description": "Leaseweb Domains are a service that allows businesses to manage their domains efficiently. It offers a range of domain options, including domain registration, domain management, and domain monitoring, to meet different domain needs and requirements."
    },
    {
      "name": "DNS",
      "x-displayName": "DNS",
      "description": "Leaseweb DNS is a service that allows businesses to manage their DNS efficiently. It offers a range of DNS options, including DNS registration, DNS management, and DNS monitoring, to meet different DNS needs and requirements."
    },
    {
      "name": "Emails",
      "x-displayName": "Emails",
      "description": "Leaseweb Email is a service that allows businesses to manage their email efficiently. It offers a range of email options, including email registration, email management, and email monitoring, to meet different email needs and requirements."
    },
    {
      "name": "Web hosting",
      "x-displayName": "Web hosting",
      "description": "Leaseweb Webhosting is a service that helps businesses publish and manage their websites with ease. It offers a reliable and secure platform to host websites and web applications, allowing customers to keep their online presence available, and easy to maintain."
    },
    {
      "name": "Traffic Policy",
      "x-displayName": "Traffic Policy",
      "description": "<h4><span class=\"badge badge-warning\">BETA</span> <span class=\"badge badge-danger\">LIMITED ACCESS</span></h4> Leaseweb Traffic Policy is a service that lets you control how your domain responds to DNS queries. It can decide where the traffic should be routed, depending on availability, performance, location of the user, or the preferred distribution pattern."
    },
    {
      "name": "Acronis Backup",
      "x-displayName": "Acronis Backup",
      "description": "Acronis Backup API allows customers to retrieve information about their Acronis Backup services, including current usage and limits."
    },
    {
      "name": "Abuse Reports",
      "x-displayName": "Abuse Reports",
      "description": "<h4><span class=\"badge badge-danger\">LIMITED ACCESS</span></h4> Leaseweb has a strict Abuse Handling Policy to prevent misuse of its services. If someone is using Leaseweb’s network for illegal, unethical, or unauthorized activities, you can submit an Abuse Report to notify Leaseweb’s compliance team."
    },
    {
      "name": "Api Key management",
      "x-displayName": "API Keys",
      "description": "The Leaseweb API Key management API is a part of Leaseweb’s API suite that allows customers to manage and retrieve API key-related data programmatically."
    },
    {
      "name": "Invoices",
      "x-displayName": "Invoices",
      "description": "The Leaseweb Invoices API is a part of Leaseweb’s API suite that allows customers to manage and retrieve invoice-related data programmatically. This API is useful for businesses that need to automate billing processes, track financial transactions, and integrate invoice management with their internal accounting systems."
    },
    {
      "name": "Ordering",
      "x-displayName": "Ordering",
      "description": "<h4><span class=\"badge badge-warning\">BETA</span></h4> With this API, you can order dedicated servers. It allows you to browse available servers, retrieve pricing details, and place the orders."
    },
    {
      "name": "Services",
      "x-displayName": "Services",
      "description": "The Leaseweb Services API is part of Leaseweb’s suite of APIs that allow customers to programmatically manage their hosted services, including dedicated servers, cloud instances, and network configurations. This API enables automation, monitoring, and control of Leaseweb services without needing to interact with the Leaseweb customer portal manually."
    },
    {
      "name": "Orders",
      "x-displayName": "Orders",
      "description": "The Leaseweb Orders API is part of Leaseweb’s suite of APIs that allow customers to programmatically manage their orders. This API enables automation, monitoring, and control of Leaseweb orders without needing to interact with the Leaseweb customer portal manually."
    },
    {
      "name": "Aws Ec2 Wrapper",
      "x-displayName": "Aws Ec2 Wrapper",
      "description": "<h4><span class=\"badge badge-warning\">BETA</span></h4> This is the AWS compatible Public Cloud API Reference. It provides descriptions, API request parameters, and the XML response for each of the API actions that Leaseweb supports. The purpose of the AWS compatible Public Cloud API is to make the migration easy for the users to switch from the AWS EC2 to the Leaseweb Public Cloud APIs."
    },
    {
      "description": "The API uses standard HTTP status codes to indicate the success or failure of the API call. The response will be JSON. Most APIs use the following format:\n\n```json\n{\n    \"errorCode\": \"APP00800\",\n    \"errorMessage\": \"The connection with the DB cannot be established.\",\n    \"correlationId\": \"550e8400-e29b-41d4-a716-446655440000\",\n    \"userMessage\": \"Cannot handle your request at the moment. Please try again later.\",\n    \"reference\": \"https://developer.leaseweb.com/errors/APP00800\"\n}\n```\n",
      "name": "Errors",
      "x-traitTag": true
    },
    {
      "description": "Authentication for the APIs is required. To authenticate your call, you will need to sent your API key as `X-LSW-Auth` header.\n\nYou can generate API keys in the [Customer Portal](https://secure.leaseweb.com/api-client-management/).\n",
      "name": "API Key Authentication",
      "x-traitTag": true
    },
    {
      "name": "Abuse Notifications"
    },
    {
      "name": "Floating IP ranges",
      "description": "Create and manage your Floating IP ranges and definitions"
    },
    {
      "name": "Regions"
    },
    {
      "name": "Instance Types"
    },
    {
      "name": "Instances"
    },
    {
      "name": "Power"
    },
    {
      "name": "Credentials"
    },
    {
      "name": "Expenses"
    },
    {
      "name": "ISOs"
    },
    {
      "name": "Images"
    },
    {
      "name": "Target Groups"
    },
    {
      "name": "Marketplace Apps"
    },
    {
      "name": "Metrics"
    },
    {
      "name": "Snapshots"
    },
    {
      "name": "IPs"
    },
    {
      "name": "Load Balancer"
    },
    {
      "name": "Security"
    },
    {
      "description": "Operations related to security groups",
      "name": "Security Groups"
    },
    {
      "name": "Auto Scaling Groups"
    },
    {
      "name": "Reinstall"
    },
    {
      "name": "Notification Settings"
    },
    {
      "name": "Aggregation Packs"
    },
    {
      "name": "Getting Started"
    },
    {
      "name": "Network Interfaces"
    },
    {
      "name": "DHCP Leases"
    },
    {
      "name": "Jobs"
    },
    {
      "name": "Hardware"
    },
    {
      "name": "Operating Systems"
    },
    {
      "name": "Control Panels"
    },
    {
      "name": "Rescue Images"
    },
    {
      "name": "Servers"
    }
  ],
  "paths": {
    "/abuse/v1/reports": {
      "get": {
        "description": "List reports",
        "operationId": "getReportList",
        "parameters": [
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/status"
          },
          {
            "$ref": "#/components/parameters/ticketId"
          },
          {
            "$ref": "#/components/parameters/ip"
          },
          {
            "$ref": "#/components/parameters/sort"
          }
        ],
        "responses": {
          "200": {
            "description": "OK.\n",
            "content": {
              "application/json": {
                "example": {
                  "_metadata": {
                    "totalCount": 2,
                    "limit": 10,
                    "offset": 0
                  },
                  "reports": [
                    {
                      "id": "000000",
                      "subject": "Report description",
                      "status": "OPEN",
                      "reportedAt": "2015-01-01T00:00:00+00:00",
                      "updatedAt": "2015-01-01T00:00:00+00:00",
                      "notifier": "REDACTED_FOR_PRIVACY",
                      "customerId": "10000001",
                      "legalEntityId": "2000",
                      "deadline": "2015-01-01T00:00:00+00:00",
                      "detectedIpAddresses": [
                        "127.0.0.1"
                      ]
                    },
                    {
                      "id": "000001",
                      "subject": "Report description",
                      "status": "CLOSED",
                      "reportedAt": "2015-01-01T00:00:00+00:00",
                      "updatedAt": "2015-01-01T00:00:00+00:00",
                      "notifier": "REDACTED_FOR_PRIVACY",
                      "customerId": "10000001",
                      "legalEntityId": "2600",
                      "deadline": "2015-01-01T00:00:00+00:00",
                      "detectedIpAddresses": [
                        "127.0.0.1"
                      ]
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/getReportListResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        },
        "security": [
          {
            "X-LSW-Auth": []
          }
        ],
        "summary": "List reports",
        "tags": [
          "Abuse Reports"
        ],
        "x-codeSamples": [
          {
            "lang": "Shell + Curl",
            "source": "curl --request GET \\\n  --url 'https://api.leaseweb.com/abuse/v1/reports?limit=20&offset=10&status=OPEN%2CWAITING%2CCLOSED&ticketId=SOME_STRING_VALUE&ip=SOME_STRING_VALUE&sort=deadline%2C-reportedAt%2C-updatedAt' \\\n  --header 'X-LSW-Auth: REPLACE_KEY_VALUE'"
          },
          {
            "lang": "Python + Python3",
            "source": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.leaseweb.com\")\n\nheaders = { 'X-LSW-Auth': \"REPLACE_KEY_VALUE\" }\n\nconn.request(\"GET\", \"/abuse/v1/reports?limit=20&offset=10&status=OPEN%2CWAITING%2CCLOSED&ticketId=SOME_STRING_VALUE&ip=SOME_STRING_VALUE&sort=deadline%2C-reportedAt%2C-updatedAt\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
          },
          {
            "lang": "Php + Http2",
            "source": "<?php\n\n$client = new http\\Client;\n$request = new http\\Client\\Request;\n\n$request->setRequestUrl('https://api.leaseweb.com/abuse/v1/reports');\n$request->setRequestMethod('GET');\n$request->setQuery(new http\\QueryString([\n  'limit' => '20',\n  'offset' => '10',\n  'status' => 'OPEN,WAITING,CLOSED',\n  'ticketId' => 'SOME_STRING_VALUE',\n  'ip' => 'SOME_STRING_VALUE',\n  'sort' => 'deadline,-reportedAt,-updatedAt'\n]));\n\n$request->setHeaders([\n  'X-LSW-Auth' => 'REPLACE_KEY_VALUE'\n]);\n\n$client->enqueue($request)->send();\n$response = $client->getResponse();\n\necho $response->getBody();"
          },
          {
            "lang": "Javascript + Jquery",
            "source": "const settings = {\n  \"async\": true,\n  \"crossDomain\": true,\n  \"url\": \"https://api.leaseweb.com/abuse/v1/reports?limit=20&offset=10&status=OPEN%2CWAITING%2CCLOSED&ticketId=SOME_STRING_VALUE&ip=SOME_STRING_VALUE&sort=deadline%2C-reportedAt%2C-updatedAt\",\n  \"method\": \"GET\",\n  \"headers\": {\n    \"X-LSW-Auth\": \"REPLACE_KEY_VALUE\"\n  }\n};\n\n$.ajax(settings).done(function (response) {\n  console.log(response);\n});"
          },
          {
            "lang": "Go + Native",
            "source": "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://api.leaseweb.com/abuse/v1/reports?limit=20&offset=10&status=OPEN%2CWAITING%2CCLOSED&ticketId=SOME_STRING_VALUE&ip=SOME_STRING_VALUE&sort=deadline%2C-reportedAt%2C-updatedAt\"\n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\treq.Header.Add(\"X-LSW-Auth\", \"REPLACE_KEY_VALUE\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
          }
        ]
      }
    },
    "/abuse/v1/reports/{reportId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/reportId"
        }
      ],
      "get": {
        "description": "",
        "operationId": "getReport",
        "responses": {
          "200": {
            "description": "OK.\n",
            "content": {
              "application/json": {
                "example": {
                  "abuseType": "MALLWARE",
                  "attachments": [
                    {
                      "id": "1abd8e7f-0fdf-453c-b1f5-8fef436acbbe",
                      "mimeType": "part/xml",
                      "filename": "000001.xml"
                    }
                  ],
                  "body": "string with content",
                  "customerId": "10000001",
                  "deadline": "2015-01-01T00:00:00+0100",
                  "detectedDomainNames": [
                    {
                      "name": "example.com",
                      "ipAddresses": [
                        "93.184.216.34"
                      ]
                    }
                  ],
                  "detectedIpAddresses": [
                    "127.0.0.1"
                  ],
                  "id": "000005",
                  "latestMessages": [
                    {
                      "postedBy": "CUSTOMER",
                      "postedAt": "2015-09-30T06:23:40+00:00",
                      "body": "Hello, this is my first message!"
                    },
                    {
                      "postedBy": "ABUSE_AGENT",
                      "postedAt": "2015-10-08T08:25:29+00:00",
                      "body": "Hi, this is our first reply.",
                      "attachment": {
                        "id": "436acbbe-0fdf-453c-b1f5-1abd8e7f8fef",
                        "mimeType": "image/png",
                        "filename": "notification.png"
                      }
                    }
                  ],
                  "legalEntityId": "2000",
                  "notifier": "notifier@email.com",
                  "reopened": false,
                  "reportedAt": "2015-01-01T00:00:00+0100",
                  "status": "CLOSED",
                  "subject": "Report description",
                  "totalMessagesCount": 2,
                  "updatedAt": "2015-01-01T00:00:00+0100"
                },
                "schema": {
                  "$ref": "#/components/schemas/getReportResult"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        },
        "security": [
          {
            "X-LSW-Auth": []
          }
        ],
        "summary": "Inspect a report",
        "tags": [
          "Abuse Reports"
        ],
        "x-codeSamples": [
          {
            "lang": "Shell + Curl",
            "source": "curl --request GET \\\n  --url https://api.leaseweb.com/abuse/v1/reports/abc123 \\\n  --header 'X-LSW-Auth: REPLACE_KEY_VALUE'"
          },
          {
            "lang": "Python + Python3",
            "source": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.leaseweb.com\")\n\nheaders = { 'X-LSW-Auth': \"REPLACE_KEY_VALUE\" }\n\nconn.request(\"GET\", \"/abuse/v1/reports/abc123\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
          },
          {
            "lang": "Php + Http2",
            "source": "<?php\n\n$client = new http\\Client;\n$request = new http\\Client\\Request;\n\n$request->setRequestUrl('https://api.leaseweb.com/abuse/v1/reports/abc123');\n$request->setRequestMethod('GET');\n$request->setHeaders([\n  'X-LSW-Auth' => 'REPLACE_KEY_VALUE'\n]);\n\n$client->enqueue($request)->send();\n$response = $client->getResponse();\n\necho $response->getBody();"
          },
          {
            "lang": "Javascript + Jquery",
            "source": "const settings = {\n  \"async\": true,\n  \"crossDomain\": true,\n  \"url\": \"https://api.leaseweb.com/abuse/v1/reports/abc123\",\n  \"method\": \"GET\",\n  \"headers\": {\n    \"X-LSW-Auth\": \"REPLACE_KEY_VALUE\"\n  }\n};\n\n$.ajax(settings).done(function (response) {\n  console.log(response);\n});"
          },
          {
            "lang": "Go + Native",
            "source": "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://api.leaseweb.com/abuse/v1/reports/abc123\"\n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\treq.Header.Add(\"X-LSW-Auth\", \"REPLACE_KEY_VALUE\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
          }
        ]
      }
    },
    "/abuse/v1/reports/{reportId}/messages": {
      "parameters": [
        {
          "$ref": "#/components/parameters/reportId"
        }
      ],
      "get": {
        "description": "",
        "operationId": "getReportMessageList",
        "parameters": [
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "description": "OK.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getReportMessageListResult"
                },
                "example": {
                  "_metadata": {
                    "totalCount": 2,
                    "limit": 10,
                    "offset": 0
                  },
                  "messages": [
                    {
                      "postedBy": "CUSTOMER",
                      "postedAt": "2015-09-30T06:23:40+00:00",
                      "body": "Hello, this is my first message!"
                    },
                    {
                      "postedBy": "ABUSE_AGENT",
                      "postedAt": "2015-10-08T08:25:29+00:00",
                      "body": "Hi, this is our first reply.",
                      "attachment": {
                        "id": "436acbbe-0fdf-453c-b1f5-1abd8e7f8fef",
                        "mimeType": "image/png",
                        "filename": "notification.png"
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        },
        "security": [
          {
            "X-LSW-Auth": []
          }
        ],
        "summary": "List report messages",
        "tags": [
          "Abuse Reports"
        ],
        "x-codeSamples": [
          {
            "lang": "Shell + Curl",
            "source": "curl --request GET \\\n  --url 'https://api.leaseweb.com/abuse/v1/reports/abc123/messages?limit=20&offset=10' \\\n  --header 'X-LSW-Auth: REPLACE_KEY_VALUE'"
          },
          {
            "lang": "Python + Python3",
            "source": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.leaseweb.com\")\n\nheaders = { 'X-LSW-Auth': \"REPLACE_KEY_VALUE\" }\n\nconn.request(\"GET\", \"/abuse/v1/reports/abc123/messages?limit=20&offset=10\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
          },
          {
            "lang": "Php + Http2",
            "source": "<?php\n\n$client = new http\\Client;\n$request = new http\\Client\\Request;\n\n$request->setRequestUrl('https://api.leaseweb.com/abuse/v1/reports/abc123/messages');\n$request->setRequestMethod('GET');\n$request->setQuery(new http\\QueryString([\n  'limit' => '20',\n  'offset' => '10'\n]));\n\n$request->setHeaders([\n  'X-LSW-Auth' => 'REPLACE_KEY_VALUE'\n]);\n\n$client->enqueue($request)->send();\n$response = $client->getResponse();\n\necho $response->getBody();"
          },
          {
            "lang": "Javascript + Jquery",
            "source": "const settings = {\n  \"async\": true,\n  \"crossDomain\": true,\n  \"url\": \"https://api.leaseweb.com/abuse/v1/reports/abc123/messages?limit=20&offset=10\",\n  \"method\": \"GET\",\n  \"headers\": {\n    \"X-LSW-Auth\": \"REPLACE_KEY_VALUE\"\n  }\n};\n\n$.ajax(settings).done(function (response) {\n  console.log(response);\n});"
          },
          {
            "lang": "Go + Native",
            "source": "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://api.leaseweb.com/abuse/v1/reports/abc123/messages?limit=20&offset=10\"\n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\treq.Header.Add(\"X-LSW-Auth\", \"REPLACE_KEY_VALUE\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
          }
        ]
      },
      "post": {
        "description": "Sent a new message to the Leaseweb compliance team related to an abuse report.",
        "operationId": "createReportMessage",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/createReportMessageOpts"
              },
              "example": {
                "body": "Hello, this is my first message."
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/createReportMessageResult"
                },
                "example": [
                  "To make sure the request has been processed please see if the message is added to the list."
                ]
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        },
        "security": [
          {
            "X-LSW-Auth": []
          }
        ],
        "summary": "Create new message",
        "tags": [
          "Abuse Reports"
        ],
        "x-codeSamples": [
          {
            "lang": "Shell + Curl",
            "source": "curl --request POST \\\n  --url https://api.leaseweb.com/abuse/v1/reports/abc123/messages \\\n  --header 'X-LSW-Auth: REPLACE_KEY_VALUE' \\\n  --header 'content-type: application/json' \\\n  --data '{\"body\":\"I have resolved this issue.\"}'"
          },
          {
            "lang": "Python + Python3",
            "source": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.leaseweb.com\")\n\npayload = \"{\\\"body\\\":\\\"I have resolved this issue.\\\"}\"\n\nheaders = {\n    'X-LSW-Auth': \"REPLACE_KEY_VALUE\",\n    'content-type': \"application/json\"\n    }\n\nconn.request(\"POST\", \"/abuse/v1/reports/abc123/messages\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
          },
          {
            "lang": "Php + Http2",
            "source": "<?php\n\n$client = new http\\Client;\n$request = new http\\Client\\Request;\n\n$body = new http\\Message\\Body;\n$body->append('{\"body\":\"I have resolved this issue.\"}');\n\n$request->setRequestUrl('https://api.leaseweb.com/abuse/v1/reports/abc123/messages');\n$request->setRequestMethod('POST');\n$request->setBody($body);\n\n$request->setHeaders([\n  'X-LSW-Auth' => 'REPLACE_KEY_VALUE',\n  'content-type' => 'application/json'\n]);\n\n$client->enqueue($request)->send();\n$response = $client->getResponse();\n\necho $response->getBody();"
          },
          {
            "lang": "Javascript + Jquery",
            "source": "const settings = {\n  \"async\": true,\n  \"crossDomain\": true,\n  \"url\": \"https://api.leaseweb.com/abuse/v1/reports/abc123/messages\",\n  \"method\": \"POST\",\n  \"headers\": {\n    \"X-LSW-Auth\": \"REPLACE_KEY_VALUE\",\n    \"content-type\": \"application/json\"\n  },\n  \"processData\": false,\n  \"data\": \"{\\\"body\\\":\\\"I have resolved this issue.\\\"}\"\n};\n\n$.ajax(settings).done(function (response) {\n  console.log(response);\n});"
          },
          {
            "lang": "Go + Native",
            "source": "package main\n\nimport (\n\t\"fmt\"\n\t\"strings\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://api.leaseweb.com/abuse/v1/reports/abc123/messages\"\n\n\tpayload := strings.NewReader(\"{\\\"body\\\":\\\"I have resolved this issue.\\\"}\")\n\n\treq, _ := http.NewRequest(\"POST\", url, payload)\n\n\treq.Header.Add(\"X-LSW-Auth\", \"REPLACE_KEY_VALUE\")\n\treq.Header.Add(\"content-type\", \"application/json\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
          }
        ]
      }
    },
    "/abuse/v1/reports/{reportId}/messageAttachments/{fileId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/reportId"
        },
        {
          "$ref": "#/components/parameters/fileId"
        }
      ],
      "get": {
        "description": "The compliance team sometimes add an attachment to a message. You can use this endpoint to get the attachment. The content-type of the response depends on the content of the attachment.",
        "operationId": "getReportMessageAttachmentList",
        "responses": {
          "200": {
            "description": "Media type can be different per file because of its contents."
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        },
        "security": [
          {
            "X-LSW-Auth": []
          }
        ],
        "summary": "Inspect a message attachment",
        "tags": [
          "Abuse Reports"
        ],
        "x-codeSamples": [
          {
            "lang": "Shell + Curl",
            "source": "curl --request GET \\\n  --url https://api.leaseweb.com/abuse/v1/reports/abc123/messageAttachments/sdfa73-adsfs-4fadf-sdfasdfa \\\n  --header 'X-LSW-Auth: REPLACE_KEY_VALUE'"
          },
          {
            "lang": "Python + Python3",
            "source": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.leaseweb.com\")\n\nheaders = { 'X-LSW-Auth': \"REPLACE_KEY_VALUE\" }\n\nconn.request(\"GET\", \"/abuse/v1/reports/abc123/messageAttachments/sdfa73-adsfs-4fadf-sdfasdfa\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
          },
          {
            "lang": "Php + Http2",
            "source": "<?php\n\n$client = new http\\Client;\n$request = new http\\Client\\Request;\n\n$request->setRequestUrl('https://api.leaseweb.com/abuse/v1/reports/abc123/messageAttachments/sdfa73-adsfs-4fadf-sdfasdfa');\n$request->setRequestMethod('GET');\n$request->setHeaders([\n  'X-LSW-Auth' => 'REPLACE_KEY_VALUE'\n]);\n\n$client->enqueue($request)->send();\n$response = $client->getResponse();\n\necho $response->getBody();"
          },
          {
            "lang": "Javascript + Jquery",
            "source": "const settings = {\n  \"async\": true,\n  \"crossDomain\": true,\n  \"url\": \"https://api.leaseweb.com/abuse/v1/reports/abc123/messageAttachments/sdfa73-adsfs-4fadf-sdfasdfa\",\n  \"method\": \"GET\",\n  \"headers\": {\n    \"X-LSW-Auth\": \"REPLACE_KEY_VALUE\"\n  }\n};\n\n$.ajax(settings).done(function (response) {\n  console.log(response);\n});"
          },
          {
            "lang": "Go + Native",
            "source": "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://api.leaseweb.com/abuse/v1/reports/abc123/messageAttachments/sdfa73-adsfs-4fadf-sdfasdfa\"\n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\treq.Header.Add(\"X-LSW-Auth\", \"REPLACE_KEY_VALUE\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
          }
        ]
      }
    },
    "/abuse/v1/reports/{reportId}/reportAttachments/{fileId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/reportId"
        },
        {
          "$ref": "#/components/parameters/fileId"
        }
      ],
      "get": {
        "description": "Use this endpoint to get an attachment which was created with the abuse report. The content-type of the response depends on the content of the attachment.",
        "operationId": "getReportAttachmentList",
        "responses": {
          "200": {
            "description": "Media type can be different per file because of its contents."
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        },
        "security": [
          {
            "X-LSW-Auth": []
          }
        ],
        "summary": "Inspect a report attachment",
        "tags": [
          "Abuse Reports"
        ],
        "x-codeSamples": [
          {
            "lang": "Shell + Curl",
            "source": "curl --request GET \\\n  --url https://api.leaseweb.com/abuse/v1/reports/abc123/reportAttachments/sdfa73-adsfs-4fadf-sdfasdfa \\\n  --header 'X-LSW-Auth: REPLACE_KEY_VALUE'"
          },
          {
            "lang": "Python + Python3",
            "source": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.leaseweb.com\")\n\nheaders = { 'X-LSW-Auth': \"REPLACE_KEY_VALUE\" }\n\nconn.request(\"GET\", \"/abuse/v1/reports/abc123/reportAttachments/sdfa73-adsfs-4fadf-sdfasdfa\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
          },
          {
            "lang": "Php + Http2",
            "source": "<?php\n\n$client = new http\\Client;\n$request = new http\\Client\\Request;\n\n$request->setRequestUrl('https://api.leaseweb.com/abuse/v1/reports/abc123/reportAttachments/sdfa73-adsfs-4fadf-sdfasdfa');\n$request->setRequestMethod('GET');\n$request->setHeaders([\n  'X-LSW-Auth' => 'REPLACE_KEY_VALUE'\n]);\n\n$client->enqueue($request)->send();\n$response = $client->getResponse();\n\necho $response->getBody();"
          },
          {
            "lang": "Javascript + Jquery",
            "source": "const settings = {\n  \"async\": true,\n  \"crossDomain\": true,\n  \"url\": \"https://api.leaseweb.com/abuse/v1/reports/abc123/reportAttachments/sdfa73-adsfs-4fadf-sdfasdfa\",\n  \"method\": \"GET\",\n  \"headers\": {\n    \"X-LSW-Auth\": \"REPLACE_KEY_VALUE\"\n  }\n};\n\n$.ajax(settings).done(function (response) {\n  console.log(response);\n});"
          },
          {
            "lang": "Go + Native",
            "source": "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://api.leaseweb.com/abuse/v1/reports/abc123/reportAttachments/sdfa73-adsfs-4fadf-sdfasdfa\"\n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\treq.Header.Add(\"X-LSW-Auth\", \"REPLACE_KEY_VALUE\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
          }
        ]
      }
    },
    "/abuse/v1/reports/{reportId}/resolutions": {
      "parameters": [
        {
          "$ref": "#/components/parameters/reportId"
        }
      ],
      "get": {
        "description": "In order to resolve a report, you need to specify a resolution. Use this endpoint to retrieve a list of all possible resolution options for this report.",
        "operationId": "getReportResolutionList",
        "responses": {
          "200": {
            "description": "OK.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getReportResolutionListResult"
                },
                "example": {
                  "isMessageRequired": false,
                  "resolutions": [
                    {
                      "id": "CONTENT_REMOVED",
                      "description": "The mentioned content has been removed."
                    },
                    {
                      "id": "DOMAINS_REMOVED",
                      "description": "The mentioned domain(s) has/have been removed from the LeaseWeb network."
                    },
                    {
                      "id": "SUSPENDED",
                      "description": "The end customer (or responsible user) has been suspended."
                    },
                    {
                      "id": "DUPLICATE",
                      "description": "This is either a duplicate or old notification and has already been resolved."
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        },
        "security": [
          {
            "X-LSW-Auth": []
          }
        ],
        "summary": "List resolution options",
        "tags": [
          "Abuse Reports"
        ],
        "x-codeSamples": [
          {
            "lang": "Shell + Curl",
            "source": "curl --request GET \\\n  --url https://api.leaseweb.com/abuse/v1/reports/abc123/resolutions \\\n  --header 'X-LSW-Auth: REPLACE_KEY_VALUE'"
          },
          {
            "lang": "Python + Python3",
            "source": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.leaseweb.com\")\n\nheaders = { 'X-LSW-Auth': \"REPLACE_KEY_VALUE\" }\n\nconn.request(\"GET\", \"/abuse/v1/reports/abc123/resolutions\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
          },
          {
            "lang": "Php + Http2",
            "source": "<?php\n\n$client = new http\\Client;\n$request = new http\\Client\\Request;\n\n$request->setRequestUrl('https://api.leaseweb.com/abuse/v1/reports/abc123/resolutions');\n$request->setRequestMethod('GET');\n$request->setHeaders([\n  'X-LSW-Auth' => 'REPLACE_KEY_VALUE'\n]);\n\n$client->enqueue($request)->send();\n$response = $client->getResponse();\n\necho $response->getBody();"
          },
          {
            "lang": "Javascript + Jquery",
            "source": "const settings = {\n  \"async\": true,\n  \"crossDomain\": true,\n  \"url\": \"https://api.leaseweb.com/abuse/v1/reports/abc123/resolutions\",\n  \"method\": \"GET\",\n  \"headers\": {\n    \"X-LSW-Auth\": \"REPLACE_KEY_VALUE\"\n  }\n};\n\n$.ajax(settings).done(function (response) {\n  console.log(response);\n});"
          },
          {
            "lang": "Go + Native",
            "source": "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://api.leaseweb.com/abuse/v1/reports/abc123/resolutions\"\n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\treq.Header.Add(\"X-LSW-Auth\", \"REPLACE_KEY_VALUE\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
          }
        ]
      }
    },
    "/abuse/v1/reports/{reportId}/resolve": {
      "parameters": [
        {
          "$ref": "#/components/parameters/reportId"
        }
      ],
      "post": {
        "description": "Resolve a report",
        "operationId": "resolveReport",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/resolveReportResult"
              },
              "example": {
                "message": "The IP address associated with this report has been null routed due to policy violations. Further access will be restricted until the issue is resolved.",
                "resolutions": [
                  "CONTENT_REMOVED",
                  "SUSPENDED"
                ]
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content.\n"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        },
        "security": [
          {
            "X-LSW-Auth": []
          }
        ],
        "summary": "Resolve a report",
        "tags": [
          "Abuse Reports"
        ],
        "x-codeSamples": [
          {
            "lang": "Shell + Curl",
            "source": "curl --request POST \\\n  --url https://api.leaseweb.com/abuse/v1/reports/abc123/resolve \\\n  --header 'X-LSW-Auth: REPLACE_KEY_VALUE' \\\n  --header 'content-type: application/json' \\\n  --data '{\"resolutions\":[[\"CONTENT_REMOVED\",\"SUSPENDED\"]],\"message\":\"string\"}'"
          },
          {
            "lang": "Python + Python3",
            "source": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.leaseweb.com\")\n\npayload = \"{\\\"resolutions\\\":[[\\\"CONTENT_REMOVED\\\",\\\"SUSPENDED\\\"]],\\\"message\\\":\\\"string\\\"}\"\n\nheaders = {\n    'X-LSW-Auth': \"REPLACE_KEY_VALUE\",\n    'content-type': \"application/json\"\n    }\n\nconn.request(\"POST\", \"/abuse/v1/reports/abc123/resolve\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
          },
          {
            "lang": "Php + Http2",
            "source": "<?php\n\n$client = new http\\Client;\n$request = new http\\Client\\Request;\n\n$body = new http\\Message\\Body;\n$body->append('{\"resolutions\":[[\"CONTENT_REMOVED\",\"SUSPENDED\"]],\"message\":\"string\"}');\n\n$request->setRequestUrl('https://api.leaseweb.com/abuse/v1/reports/abc123/resolve');\n$request->setRequestMethod('POST');\n$request->setBody($body);\n\n$request->setHeaders([\n  'X-LSW-Auth' => 'REPLACE_KEY_VALUE',\n  'content-type' => 'application/json'\n]);\n\n$client->enqueue($request)->send();\n$response = $client->getResponse();\n\necho $response->getBody();"
          },
          {
            "lang": "Javascript + Jquery",
            "source": "const settings = {\n  \"async\": true,\n  \"crossDomain\": true,\n  \"url\": \"https://api.leaseweb.com/abuse/v1/reports/abc123/resolve\",\n  \"method\": \"POST\",\n  \"headers\": {\n    \"X-LSW-Auth\": \"REPLACE_KEY_VALUE\",\n    \"content-type\": \"application/json\"\n  },\n  \"processData\": false,\n  \"data\": \"{\\\"resolutions\\\":[[\\\"CONTENT_REMOVED\\\",\\\"SUSPENDED\\\"]],\\\"message\\\":\\\"string\\\"}\"\n};\n\n$.ajax(settings).done(function (response) {\n  console.log(response);\n});"
          },
          {
            "lang": "Go + Native",
            "source": "package main\n\nimport (\n\t\"fmt\"\n\t\"strings\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://api.leaseweb.com/abuse/v1/reports/abc123/resolve\"\n\n\tpayload := strings.NewReader(\"{\\\"resolutions\\\":[[\\\"CONTENT_REMOVED\\\",\\\"SUSPENDED\\\"]],\\\"message\\\":\\\"string\\\"}\")\n\n\treq, _ := http.NewRequest(\"POST\", url, payload)\n\n\treq.Header.Add(\"X-LSW-Auth\", \"REPLACE_KEY_VALUE\")\n\treq.Header.Add(\"content-type\", \"application/json\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
          }
        ]
      }
    },
    "/apiKeys/v1/keys": {
      "get": {
        "operationId": "getApiKeyList",
        "description": "Get a list of api keys for a customer. The list is sorted by createdAt in descending order",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "default": 10,
              "maximum": 1000,
              "type": "integer"
            },
            "description": "Limit the number of results returned."
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "default": 0,
              "type": "integer"
            },
            "description": "Return results starting from the given offset."
          }
        ],
        "responses": {
          "200": {
            "description": "OK.\n",
            "content": {
              "application/json": {
                "example": {
                  "_metadata": {
                    "totalCount": 2,
                    "limit": 10,
                    "offset": 0
                  },
                  "keys": [
                    {
                      "id": "Adsf80",
                      "username": "c071b507",
                      "reference": "The reference",
                      "createdAt": "2020-02-26T09:35:22+0100",
                      "generatedAt": "2020-02-26T09:35:22+0100",
                      "generatedBy": "email@foo.bar",
                      "requestMethods": [
                        "GET",
                        "POST"
                      ],
                      "whiteListedIps": [
                        "123.123.123.123",
                        "231.231.231.231"
                      ],
                      "expiresAt": "2021-02-26T09:35:22+0100"
                    },
                    {
                      "id": "8d1f8d1f",
                      "username": "e071b507",
                      "reference": "The new reference",
                      "createdAt": "2020-02-26T09:35:22+0100",
                      "generatedAt": "2020-02-26T09:35:22+0100",
                      "generatedBy": "email@foo.bar",
                      "requestMethods": [
                        "PUT",
                        "DELETE"
                      ],
                      "whiteListedIps": [
                        "123.123.123.123",
                        "231.231.231.231"
                      ],
                      "expiresAt": "2021-02-26T09:35:22+0100"
                    },
                    {
                      "id": "asd82ddas",
                      "username": "d071b507",
                      "reference": "The reference",
                      "createdAt": "2020-02-26T09:35:22+0100",
                      "generatedAt": "2020-02-26T09:35:22+0100",
                      "generatedBy": "email@foo.bar",
                      "requestMethods": [
                        "POST",
                        "PUT"
                      ],
                      "whiteListedIps": [
                        "123.123.123.123",
                        "231.231.231.231"
                      ],
                      "expiresAt": "2021-02-26T09:35:22+0100"
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/getApiKeyListResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        },
        "summary": "List API keys",
        "tags": [
          "Api Key management"
        ],
        "security": [
          {
            "X-LSW-Auth": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "Shell + Curl",
            "source": "curl --request GET \\\n  --url 'https://api.leaseweb.com/apiKeys/v1/keys?limit=SOME_INTEGER_VALUE&offset=SOME_INTEGER_VALUE' \\\n  --header 'X-LSW-Auth: REPLACE_KEY_VALUE'"
          },
          {
            "lang": "Python + Python3",
            "source": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.leaseweb.com\")\n\nheaders = { 'X-LSW-Auth': \"REPLACE_KEY_VALUE\" }\n\nconn.request(\"GET\", \"/apiKeys/v1/keys?limit=SOME_INTEGER_VALUE&offset=SOME_INTEGER_VALUE\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
          },
          {
            "lang": "Php + Http2",
            "source": "<?php\n\n$client = new http\\Client;\n$request = new http\\Client\\Request;\n\n$request->setRequestUrl('https://api.leaseweb.com/apiKeys/v1/keys');\n$request->setRequestMethod('GET');\n$request->setQuery(new http\\QueryString([\n  'limit' => 'SOME_INTEGER_VALUE',\n  'offset' => 'SOME_INTEGER_VALUE'\n]));\n\n$request->setHeaders([\n  'X-LSW-Auth' => 'REPLACE_KEY_VALUE'\n]);\n\n$client->enqueue($request)->send();\n$response = $client->getResponse();\n\necho $response->getBody();"
          },
          {
            "lang": "Javascript + Jquery",
            "source": "const settings = {\n  \"async\": true,\n  \"crossDomain\": true,\n  \"url\": \"https://api.leaseweb.com/apiKeys/v1/keys?limit=SOME_INTEGER_VALUE&offset=SOME_INTEGER_VALUE\",\n  \"method\": \"GET\",\n  \"headers\": {\n    \"X-LSW-Auth\": \"REPLACE_KEY_VALUE\"\n  }\n};\n\n$.ajax(settings).done(function (response) {\n  console.log(response);\n});"
          },
          {
            "lang": "Go + Native",
            "source": "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://api.leaseweb.com/apiKeys/v1/keys?limit=SOME_INTEGER_VALUE&offset=SOME_INTEGER_VALUE\"\n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\treq.Header.Add(\"X-LSW-Auth\", \"REPLACE_KEY_VALUE\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
          }
        ]
      }
    },
    "/apiKeys/v1/keys/{apiKeyId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/apiKeyId"
        }
      ],
      "get": {
        "operationId": "getApiKey",
        "description": "Get the specified key.",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "example": {
                  "id": "u71abd",
                  "username": "c071b507",
                  "reference": "the new reference",
                  "createdAt": "2020-02-26T09:35:22+0100",
                  "generatedAt": "2020-02-26T09:35:22+0100",
                  "generatedBy": "email@foo.bar",
                  "requestMethods": [
                    "GET",
                    "POST",
                    "PUT",
                    "DELETE"
                  ],
                  "whiteListedIps": [
                    "123.123.123.123",
                    "231.231.231.231"
                  ],
                  "expiresAt": "2021-02-26T09:35:22+0100"
                },
                "schema": {
                  "$ref": "#/components/schemas/getApiKeyResult"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        },
        "summary": "Get API key",
        "tags": [
          "Api Key management"
        ],
        "security": [
          {
            "X-LSW-Auth": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "Shell + Curl",
            "source": "curl --request GET \\\n  --url https://api.leaseweb.com/apiKeys/v1/keys/1a2b3c \\\n  --header 'X-LSW-Auth: REPLACE_KEY_VALUE'"
          },
          {
            "lang": "Python + Python3",
            "source": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.leaseweb.com\")\n\nheaders = { 'X-LSW-Auth': \"REPLACE_KEY_VALUE\" }\n\nconn.request(\"GET\", \"/apiKeys/v1/keys/1a2b3c\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
          },
          {
            "lang": "Php + Http2",
            "source": "<?php\n\n$client = new http\\Client;\n$request = new http\\Client\\Request;\n\n$request->setRequestUrl('https://api.leaseweb.com/apiKeys/v1/keys/1a2b3c');\n$request->setRequestMethod('GET');\n$request->setHeaders([\n  'X-LSW-Auth' => 'REPLACE_KEY_VALUE'\n]);\n\n$client->enqueue($request)->send();\n$response = $client->getResponse();\n\necho $response->getBody();"
          },
          {
            "lang": "Javascript + Jquery",
            "source": "const settings = {\n  \"async\": true,\n  \"crossDomain\": true,\n  \"url\": \"https://api.leaseweb.com/apiKeys/v1/keys/1a2b3c\",\n  \"method\": \"GET\",\n  \"headers\": {\n    \"X-LSW-Auth\": \"REPLACE_KEY_VALUE\"\n  }\n};\n\n$.ajax(settings).done(function (response) {\n  console.log(response);\n});"
          },
          {
            "lang": "Go + Native",
            "source": "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://api.leaseweb.com/apiKeys/v1/keys/1a2b3c\"\n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\treq.Header.Add(\"X-LSW-Auth\", \"REPLACE_KEY_VALUE\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
          }
        ]
      }
    },
    "/apiKeys/v1/keys/{apiKeyId}/whiteListedIps": {
      "parameters": [
        {
          "$ref": "#/components/parameters/apiKeyId"
        }
      ],
      "get": {
        "operationId": "getWhitelistedIpList",
        "description": "Get a list of whiteListedIps.",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "example": {
                  "whiteListedIps": [
                    "123.123.123.123",
                    "231.231.231.231"
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/getWhitelistedIpListResult"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        },
        "summary": "List allowed IPs",
        "tags": [
          "Api Key management"
        ],
        "security": [
          {
            "X-LSW-Auth": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "Shell + Curl",
            "source": "curl --request GET \\\n  --url https://api.leaseweb.com/apiKeys/v1/keys/1a2b3c/whiteListedIps \\\n  --header 'X-LSW-Auth: REPLACE_KEY_VALUE'"
          },
          {
            "lang": "Python + Python3",
            "source": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.leaseweb.com\")\n\nheaders = { 'X-LSW-Auth': \"REPLACE_KEY_VALUE\" }\n\nconn.request(\"GET\", \"/apiKeys/v1/keys/1a2b3c/whiteListedIps\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
          },
          {
            "lang": "Php + Http2",
            "source": "<?php\n\n$client = new http\\Client;\n$request = new http\\Client\\Request;\n\n$request->setRequestUrl('https://api.leaseweb.com/apiKeys/v1/keys/1a2b3c/whiteListedIps');\n$request->setRequestMethod('GET');\n$request->setHeaders([\n  'X-LSW-Auth' => 'REPLACE_KEY_VALUE'\n]);\n\n$client->enqueue($request)->send();\n$response = $client->getResponse();\n\necho $response->getBody();"
          },
          {
            "lang": "Javascript + Jquery",
            "source": "const settings = {\n  \"async\": true,\n  \"crossDomain\": true,\n  \"url\": \"https://api.leaseweb.com/apiKeys/v1/keys/1a2b3c/whiteListedIps\",\n  \"method\": \"GET\",\n  \"headers\": {\n    \"X-LSW-Auth\": \"REPLACE_KEY_VALUE\"\n  }\n};\n\n$.ajax(settings).done(function (response) {\n  console.log(response);\n});"
          },
          {
            "lang": "Go + Native",
            "source": "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://api.leaseweb.com/apiKeys/v1/keys/1a2b3c/whiteListedIps\"\n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\treq.Header.Add(\"X-LSW-Auth\", \"REPLACE_KEY_VALUE\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
          }
        ]
      },
      "post": {
        "operationId": "addWhitelistedIp",
        "description": "Add IP to allowed IP list for an API Key.",
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "whiteListedIp": "123.123.123.123"
              },
              "schema": {
                "$ref": "#/components/schemas/addWhitelistedIpOpts"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "example": {
                  "whiteListedIps": [
                    "123.123.123.123",
                    "231.231.231.231"
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/addWhitelistedIpResult"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        },
        "summary": "Add IP to allowed IP list",
        "tags": [
          "Api Key management"
        ],
        "security": [
          {
            "X-LSW-Auth": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "Shell + Curl",
            "source": "curl --request POST \\\n  --url https://api.leaseweb.com/apiKeys/v1/keys/1a2b3c/whiteListedIps \\\n  --header 'X-LSW-Auth: REPLACE_KEY_VALUE' \\\n  --header 'content-type: application/json' \\\n  --data '{\"whiteListedIp\":\"192.168.0.1\"}'"
          },
          {
            "lang": "Python + Python3",
            "source": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.leaseweb.com\")\n\npayload = \"{\\\"whiteListedIp\\\":\\\"192.168.0.1\\\"}\"\n\nheaders = {\n    'X-LSW-Auth': \"REPLACE_KEY_VALUE\",\n    'content-type': \"application/json\"\n    }\n\nconn.request(\"POST\", \"/apiKeys/v1/keys/1a2b3c/whiteListedIps\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
          },
          {
            "lang": "Php + Http2",
            "source": "<?php\n\n$client = new http\\Client;\n$request = new http\\Client\\Request;\n\n$body = new http\\Message\\Body;\n$body->append('{\"whiteListedIp\":\"192.168.0.1\"}');\n\n$request->setRequestUrl('https://api.leaseweb.com/apiKeys/v1/keys/1a2b3c/whiteListedIps');\n$request->setRequestMethod('POST');\n$request->setBody($body);\n\n$request->setHeaders([\n  'X-LSW-Auth' => 'REPLACE_KEY_VALUE',\n  'content-type' => 'application/json'\n]);\n\n$client->enqueue($request)->send();\n$response = $client->getResponse();\n\necho $response->getBody();"
          },
          {
            "lang": "Javascript + Jquery",
            "source": "const settings = {\n  \"async\": true,\n  \"crossDomain\": true,\n  \"url\": \"https://api.leaseweb.com/apiKeys/v1/keys/1a2b3c/whiteListedIps\",\n  \"method\": \"POST\",\n  \"headers\": {\n    \"X-LSW-Auth\": \"REPLACE_KEY_VALUE\",\n    \"content-type\": \"application/json\"\n  },\n  \"processData\": false,\n  \"data\": \"{\\\"whiteListedIp\\\":\\\"192.168.0.1\\\"}\"\n};\n\n$.ajax(settings).done(function (response) {\n  console.log(response);\n});"
          },
          {
            "lang": "Go + Native",
            "source": "package main\n\nimport (\n\t\"fmt\"\n\t\"strings\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://api.leaseweb.com/apiKeys/v1/keys/1a2b3c/whiteListedIps\"\n\n\tpayload := strings.NewReader(\"{\\\"whiteListedIp\\\":\\\"192.168.0.1\\\"}\")\n\n\treq, _ := http.NewRequest(\"POST\", url, payload)\n\n\treq.Header.Add(\"X-LSW-Auth\", \"REPLACE_KEY_VALUE\")\n\treq.Header.Add(\"content-type\", \"application/json\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
          }
        ]
      },
      "put": {
        "operationId": "replaceWhitelistedIpList",
        "description": "Replace allowed IP list of an API Key.",
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "whiteListedIps": [
                  "123.123.123.123",
                  "231.231.231.231"
                ]
              },
              "schema": {
                "$ref": "#/components/schemas/replaceWhitelistedIpListOpts"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "example": {
                  "whiteListedIps": [
                    "123.123.123.123",
                    "231.231.231.231"
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/replaceWhitelistedIpListResult"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        },
        "summary": "Replace allowed IP list",
        "tags": [
          "Api Key management"
        ],
        "security": [
          {
            "X-LSW-Auth": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "Shell + Curl",
            "source": "curl --request PUT \\\n  --url https://api.leaseweb.com/apiKeys/v1/keys/1a2b3c/whiteListedIps \\\n  --header 'X-LSW-Auth: REPLACE_KEY_VALUE' \\\n  --header 'content-type: application/json' \\\n  --data '{\"whiteListedIps\":[\"192.168.0.1\"]}'"
          },
          {
            "lang": "Python + Python3",
            "source": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.leaseweb.com\")\n\npayload = \"{\\\"whiteListedIps\\\":[\\\"192.168.0.1\\\"]}\"\n\nheaders = {\n    'X-LSW-Auth': \"REPLACE_KEY_VALUE\",\n    'content-type': \"application/json\"\n    }\n\nconn.request(\"PUT\", \"/apiKeys/v1/keys/1a2b3c/whiteListedIps\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
          },
          {
            "lang": "Php + Http2",
            "source": "<?php\n\n$client = new http\\Client;\n$request = new http\\Client\\Request;\n\n$body = new http\\Message\\Body;\n$body->append('{\"whiteListedIps\":[\"192.168.0.1\"]}');\n\n$request->setRequestUrl('https://api.leaseweb.com/apiKeys/v1/keys/1a2b3c/whiteListedIps');\n$request->setRequestMethod('PUT');\n$request->setBody($body);\n\n$request->setHeaders([\n  'X-LSW-Auth' => 'REPLACE_KEY_VALUE',\n  'content-type' => 'application/json'\n]);\n\n$client->enqueue($request)->send();\n$response = $client->getResponse();\n\necho $response->getBody();"
          },
          {
            "lang": "Javascript + Jquery",
            "source": "const settings = {\n  \"async\": true,\n  \"crossDomain\": true,\n  \"url\": \"https://api.leaseweb.com/apiKeys/v1/keys/1a2b3c/whiteListedIps\",\n  \"method\": \"PUT\",\n  \"headers\": {\n    \"X-LSW-Auth\": \"REPLACE_KEY_VALUE\",\n    \"content-type\": \"application/json\"\n  },\n  \"processData\": false,\n  \"data\": \"{\\\"whiteListedIps\\\":[\\\"192.168.0.1\\\"]}\"\n};\n\n$.ajax(settings).done(function (response) {\n  console.log(response);\n});"
          },
          {
            "lang": "Go + Native",
            "source": "package main\n\nimport (\n\t\"fmt\"\n\t\"strings\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://api.leaseweb.com/apiKeys/v1/keys/1a2b3c/whiteListedIps\"\n\n\tpayload := strings.NewReader(\"{\\\"whiteListedIps\\\":[\\\"192.168.0.1\\\"]}\")\n\n\treq, _ := http.NewRequest(\"PUT\", url, payload)\n\n\treq.Header.Add(\"X-LSW-Auth\", \"REPLACE_KEY_VALUE\")\n\treq.Header.Add(\"content-type\", \"application/json\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
          }
        ]
      },
      "delete": {
        "summary": "Delete all whitelisted ips for an API key.",
        "operationId": "deleteWhitelistedIpList",
        "responses": {
          "204": {
            "description": "No Content.\n"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        },
        "description": "Delete all whitelisted ips for an API key.",
        "tags": [
          "Api Key management"
        ],
        "security": [
          {
            "X-LSW-Auth": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "Shell + Curl",
            "source": "curl --request DELETE \\\n  --url https://api.leaseweb.com/apiKeys/v1/keys/1a2b3c/whiteListedIps \\\n  --header 'X-LSW-Auth: REPLACE_KEY_VALUE'"
          },
          {
            "lang": "Python + Python3",
            "source": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.leaseweb.com\")\n\nheaders = { 'X-LSW-Auth': \"REPLACE_KEY_VALUE\" }\n\nconn.request(\"DELETE\", \"/apiKeys/v1/keys/1a2b3c/whiteListedIps\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
          },
          {
            "lang": "Php + Http2",
            "source": "<?php\n\n$client = new http\\Client;\n$request = new http\\Client\\Request;\n\n$request->setRequestUrl('https://api.leaseweb.com/apiKeys/v1/keys/1a2b3c/whiteListedIps');\n$request->setRequestMethod('DELETE');\n$request->setHeaders([\n  'X-LSW-Auth' => 'REPLACE_KEY_VALUE'\n]);\n\n$client->enqueue($request)->send();\n$response = $client->getResponse();\n\necho $response->getBody();"
          },
          {
            "lang": "Javascript + Jquery",
            "source": "const settings = {\n  \"async\": true,\n  \"crossDomain\": true,\n  \"url\": \"https://api.leaseweb.com/apiKeys/v1/keys/1a2b3c/whiteListedIps\",\n  \"method\": \"DELETE\",\n  \"headers\": {\n    \"X-LSW-Auth\": \"REPLACE_KEY_VALUE\"\n  }\n};\n\n$.ajax(settings).done(function (response) {\n  console.log(response);\n});"
          },
          {
            "lang": "Go + Native",
            "source": "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://api.leaseweb.com/apiKeys/v1/keys/1a2b3c/whiteListedIps\"\n\n\treq, _ := http.NewRequest(\"DELETE\", url, nil)\n\n\treq.Header.Add(\"X-LSW-Auth\", \"REPLACE_KEY_VALUE\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
          }
        ]
      }
    },
    "/apiKeys/v1/keys/{apiKeyId}/whiteListedIps/{ip}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/apiKeyId"
        },
        {
          "$ref": "#/components/parameters/ip1"
        }
      ],
      "delete": {
        "operationId": "deleteWhitelistedIp",
        "description": "Delete allowed IP of an API Key.",
        "responses": {
          "204": {
            "description": "No Content.\n"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        },
        "summary": "Delete allowed IP",
        "tags": [
          "Api Key management"
        ],
        "security": [
          {
            "X-LSW-Auth": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "Shell + Curl",
            "source": "curl --request DELETE \\\n  --url https://api.leaseweb.com/apiKeys/v1/keys/1a2b3c/whiteListedIps/%7Bip%7D \\\n  --header 'X-LSW-Auth: REPLACE_KEY_VALUE'"
          },
          {
            "lang": "Python + Python3",
            "source": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.leaseweb.com\")\n\nheaders = { 'X-LSW-Auth': \"REPLACE_KEY_VALUE\" }\n\nconn.request(\"DELETE\", \"/apiKeys/v1/keys/1a2b3c/whiteListedIps/%7Bip%7D\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
          },
          {
            "lang": "Php + Http2",
            "source": "<?php\n\n$client = new http\\Client;\n$request = new http\\Client\\Request;\n\n$request->setRequestUrl('https://api.leaseweb.com/apiKeys/v1/keys/1a2b3c/whiteListedIps/%7Bip%7D');\n$request->setRequestMethod('DELETE');\n$request->setHeaders([\n  'X-LSW-Auth' => 'REPLACE_KEY_VALUE'\n]);\n\n$client->enqueue($request)->send();\n$response = $client->getResponse();\n\necho $response->getBody();"
          },
          {
            "lang": "Javascript + Jquery",
            "source": "const settings = {\n  \"async\": true,\n  \"crossDomain\": true,\n  \"url\": \"https://api.leaseweb.com/apiKeys/v1/keys/1a2b3c/whiteListedIps/%7Bip%7D\",\n  \"method\": \"DELETE\",\n  \"headers\": {\n    \"X-LSW-Auth\": \"REPLACE_KEY_VALUE\"\n  }\n};\n\n$.ajax(settings).done(function (response) {\n  console.log(response);\n});"
          },
          {
            "lang": "Go + Native",
            "source": "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://api.leaseweb.com/apiKeys/v1/keys/1a2b3c/whiteListedIps/%7Bip%7D\"\n\n\treq, _ := http.NewRequest(\"DELETE\", url, nil)\n\n\treq.Header.Add(\"X-LSW-Auth\", \"REPLACE_KEY_VALUE\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
          }
        ]
      }
    },
    "/cdn/v2/origins": {
      "post": {
        "tags": [
          "CDN"
        ],
        "summary": "Create Origin",
        "description": "Create origin resouces to be used within distributions.\n\nThere are 2 types of origins:\n\n- Simple Origin\n- Advanced Origin",
        "operationId": "create_origin_v1_origins_post",
        "requestBody": {
          "description": "",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "resourceType": {
                    "type": "string",
                    "enum": [
                      "SIMPLE_ORIGIN",
                      "ADVANCED_ORIGIN",
                      "OBJECT_STORAGE_ORIGIN"
                    ],
                    "examples": [
                      "SIMPLE_ORIGIN"
                    ]
                  },
                  "data": {
                    "type": "array",
                    "items": [
                      {
                        "type": "object",
                        "properties": {
                          "key": {
                            "type": "string",
                            "examples": [
                              "host"
                            ]
                          },
                          "value": {
                            "type": "string",
                            "examples": [
                              "backend.leaseweb.com"
                            ]
                          }
                        },
                        "required": [
                          "key",
                          "value"
                        ]
                      },
                      {
                        "type": "object",
                        "properties": {
                          "key": {
                            "type": "string",
                            "examples": [
                              "description"
                            ]
                          },
                          "value": {
                            "type": "string",
                            "examples": [
                              "Leaseweb Backend"
                            ]
                          }
                        },
                        "required": [
                          "key",
                          "value"
                        ]
                      },
                      {
                        "type": "object",
                        "properties": {
                          "key": {
                            "type": "string",
                            "examples": [
                              "enabled"
                            ]
                          },
                          "value": {
                            "type": "boolean",
                            "examples": [
                              true
                            ]
                          }
                        },
                        "required": [
                          "key",
                          "value"
                        ]
                      }
                    ]
                  }
                },
                "required": [
                  "resourceType",
                  "data"
                ]
              },
              "examples": {
                "Simple Origin": {
                  "value": {
                    "resourceType": "SIMPLE_ORIGIN",
                    "data": [
                      {
                        "key": "host",
                        "value": "backend.leaseweb.com"
                      },
                      {
                        "key": "description",
                        "value": "Leaseweb Backend"
                      },
                      {
                        "key": "enabled",
                        "value": true
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "resourceType": {
                      "type": "string",
                      "enum": [
                        "SIMPLE_ORIGIN",
                        "ADVANCED_ORIGIN",
                        "OBJECT_STORAGE_ORIGIN"
                      ],
                      "examples": [
                        "ADVANCED_ORIGIN"
                      ]
                    },
                    "data": {
                      "type": "array",
                      "items": [
                        {
                          "type": "object",
                          "properties": {
                            "key": {
                              "type": "string",
                              "examples": [
                                "id"
                              ]
                            },
                            "value": {
                              "type": "string",
                              "examples": [
                                "or-4njkb2g"
                              ]
                            }
                          },
                          "required": [
                            "key",
                            "value"
                          ]
                        },
                        {
                          "type": "object",
                          "properties": {
                            "key": {
                              "type": "string",
                              "examples": [
                                "customerId"
                              ]
                            },
                            "value": {
                              "type": "string",
                              "examples": [
                                "cu-sndj3j24"
                              ]
                            }
                          },
                          "required": [
                            "key",
                            "value"
                          ]
                        },
                        {
                          "type": "object",
                          "properties": {
                            "key": {
                              "type": "string",
                              "examples": [
                                "created"
                              ]
                            },
                            "value": {
                              "type": "string",
                              "examples": [
                                "2024-07-12T12:55:54"
                              ]
                            }
                          },
                          "required": [
                            "key",
                            "value"
                          ]
                        },
                        {
                          "type": "object",
                          "properties": {
                            "key": {
                              "type": "string",
                              "examples": [
                                "updated"
                              ]
                            },
                            "value": {
                              "type": "null",
                              "examples": [
                                "2024-07-12T12:55:54"
                              ]
                            }
                          },
                          "required": [
                            "key",
                            "value"
                          ]
                        },
                        {
                          "type": "object",
                          "properties": {
                            "key": {
                              "type": "string",
                              "examples": [
                                "host"
                              ]
                            },
                            "value": {
                              "type": "string",
                              "examples": [
                                "backend.leaseweb.com"
                              ]
                            }
                          },
                          "required": [
                            "key",
                            "value"
                          ]
                        },
                        {
                          "type": "object",
                          "properties": {
                            "key": {
                              "type": "string",
                              "examples": [
                                "description"
                              ]
                            },
                            "value": {
                              "type": "string",
                              "examples": [
                                "Leaseweb Backend"
                              ]
                            }
                          },
                          "required": [
                            "key",
                            "value"
                          ]
                        },
                        {
                          "type": "object",
                          "properties": {
                            "key": {
                              "type": "string",
                              "examples": [
                                "enabled"
                              ]
                            },
                            "value": {
                              "type": "boolean",
                              "examples": [
                                true
                              ]
                            }
                          },
                          "required": [
                            "key",
                            "value"
                          ]
                        }
                      ]
                    }
                  }
                },
                "examples": {
                  "Simple Origin": {
                    "value": {
                      "resourceType": "SIMPLE_ORIGIN",
                      "data": [
                        {
                          "key": "id",
                          "value": "or-4njkb2g"
                        },
                        {
                          "key": "customerId",
                          "value": "cu-sndj3j24"
                        },
                        {
                          "key": "created",
                          "value": "2024-07-12T12:55:54"
                        },
                        {
                          "key": "updated",
                          "value": "2024-07-12T12:55:54"
                        },
                        {
                          "key": "host",
                          "value": "backend.leaseweb.com"
                        },
                        {
                          "key": "description",
                          "value": "Leaseweb Backend"
                        },
                        {
                          "key": "enabled",
                          "value": true
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        },
        "servers": [
          {
            "url": "https://api.leaseweb.com"
          }
        ],
        "x-internal": false,
        "x-codeSamples": [
          {
            "lang": "Shell + Curl",
            "source": "curl --request POST \\\n  --url https://api.leaseweb.com/cdn/v2/origins \\\n  --header 'X-LSW-Auth: REPLACE_KEY_VALUE' \\\n  --header 'content-type: application/json' \\\n  --data '{\"resourceType\":\"SIMPLE_ORIGIN\",\"data\":[{\"key\":\"host\",\"value\":\"backend.leaseweb.com\"},{\"key\":\"description\",\"value\":\"Leaseweb Backend\"},{\"key\":\"enabled\",\"value\":true}]}'"
          },
          {
            "lang": "Python + Python3",
            "source": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.leaseweb.com\")\n\npayload = \"{\\\"resourceType\\\":\\\"SIMPLE_ORIGIN\\\",\\\"data\\\":[{\\\"key\\\":\\\"host\\\",\\\"value\\\":\\\"backend.leaseweb.com\\\"},{\\\"key\\\":\\\"description\\\",\\\"value\\\":\\\"Leaseweb Backend\\\"},{\\\"key\\\":\\\"enabled\\\",\\\"value\\\":true}]}\"\n\nheaders = {\n    'X-LSW-Auth': \"REPLACE_KEY_VALUE\",\n    'content-type': \"application/json\"\n    }\n\nconn.request(\"POST\", \"/cdn/v2/origins\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
          },
          {
            "lang": "Php + Http2",
            "source": "<?php\n\n$client = new http\\Client;\n$request = new http\\Client\\Request;\n\n$body = new http\\Message\\Body;\n$body->append('{\"resourceType\":\"SIMPLE_ORIGIN\",\"data\":[{\"key\":\"host\",\"value\":\"backend.leaseweb.com\"},{\"key\":\"description\",\"value\":\"Leaseweb Backend\"},{\"key\":\"enabled\",\"value\":true}]}');\n\n$request->setRequestUrl('https://api.leaseweb.com/cdn/v2/origins');\n$request->setRequestMethod('POST');\n$request->setBody($body);\n\n$request->setHeaders([\n  'X-LSW-Auth' => 'REPLACE_KEY_VALUE',\n  'content-type' => 'application/json'\n]);\n\n$client->enqueue($request)->send();\n$response = $client->getResponse();\n\necho $response->getBody();"
          },
          {
            "lang": "Javascript + Jquery",
            "source": "const settings = {\n  \"async\": true,\n  \"crossDomain\": true,\n  \"url\": \"https://api.leaseweb.com/cdn/v2/origins\",\n  \"method\": \"POST\",\n  \"headers\": {\n    \"X-LSW-Auth\": \"REPLACE_KEY_VALUE\",\n    \"content-type\": \"application/json\"\n  },\n  \"processData\": false,\n  \"data\": \"{\\\"resourceType\\\":\\\"SIMPLE_ORIGIN\\\",\\\"data\\\":[{\\\"key\\\":\\\"host\\\",\\\"value\\\":\\\"backend.leaseweb.com\\\"},{\\\"key\\\":\\\"description\\\",\\\"value\\\":\\\"Leaseweb Backend\\\"},{\\\"key\\\":\\\"enabled\\\",\\\"value\\\":true}]}\"\n};\n\n$.ajax(settings).done(function (response) {\n  console.log(response);\n});"
          },
          {
            "lang": "Go + Native",
            "source": "package main\n\nimport (\n\t\"fmt\"\n\t\"strings\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://api.leaseweb.com/cdn/v2/origins\"\n\n\tpayload := strings.NewReader(\"{\\\"resourceType\\\":\\\"SIMPLE_ORIGIN\\\",\\\"data\\\":[{\\\"key\\\":\\\"host\\\",\\\"value\\\":\\\"backend.leaseweb.com\\\"},{\\\"key\\\":\\\"description\\\",\\\"value\\\":\\\"Leaseweb Backend\\\"},{\\\"key\\\":\\\"enabled\\\",\\\"value\\\":true}]}\")\n\n\treq, _ := http.NewRequest(\"POST\", url, payload)\n\n\treq.Header.Add(\"X-LSW-Auth\", \"REPLACE_KEY_VALUE\")\n\treq.Header.Add(\"content-type\", \"application/json\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
          }
        ]
      },
      "get": {
        "tags": [
          "CDN"
        ],
        "summary": "Get All Origins",
        "description": "Get the list of origins including all of the origin types. Types are specified in each record.",
        "operationId": "get_all_origins_v1_origins_get",
        "parameters": [
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OriginsListResponse_Resource_"
                },
                "examples": {
                  "Origins": {
                    "value": {
                      "origins": [
                        {
                          "resourceType": "SIMPLE_ORIGIN",
                          "data": [
                            {
                              "key": "id",
                              "value": "or-5dfg51fr"
                            },
                            {
                              "key": "customerId",
                              "value": "cu-sndj3j24"
                            },
                            {
                              "key": "created",
                              "value": "2024-07-12T12:55:54"
                            },
                            {
                              "key": "updated",
                              "value": "2024-07-12T12:55:54"
                            },
                            {
                              "key": "host",
                              "value": "backend.leaseweb.com"
                            },
                            {
                              "key": "description",
                              "value": "Leaseweb Backend"
                            },
                            {
                              "key": "enabled",
                              "value": true
                            }
                          ]
                        },
                        {
                          "resourceType": "ADVANCED_ORIGIN",
                          "data": [
                            {
                              "key": "id",
                              "value": "or-y71sg45"
                            },
                            {
                              "key": "customerId",
                              "value": "cu-sndj3j24"
                            },
                            {
                              "key": "created",
                              "value": "2020-12-10T07:07:35"
                            },
                            {
                              "key": "updated",
                              "value": "2021-12-08T12:20:25"
                            },
                            {
                              "key": "host",
                              "value": "backend.leaseweb.com"
                            },
                            {
                              "key": "description",
                              "value": "LSW Custom Backend"
                            },
                            {
                              "key": "enabled",
                              "value": true
                            },
                            {
                              "key": "path",
                              "value": "/test"
                            },
                            {
                              "key": "httpPort",
                              "value": 8080
                            },
                            {
                              "key": "httpsPort",
                              "value": 8081
                            }
                          ]
                        }
                      ],
                      "_metadata": {
                        "totalCount": 2,
                        "limit": 20,
                        "offset": 0
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
[...]
